<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
  xmlns:th="http://www.thymeleaf.org" 
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
  layout:decorator="template">
  
  	<head>
	    <title>Location - Collection Settings</title>
	    
	    <th:block layout:fragment="styles">
	    <link th:href="@{/assets/plugins/icheck/skins/flat/red.css}" rel="stylesheet"/>
	    </th:block>
  	</head>
  
 	<div layout:fragment="page_header_title" id="page_header_title">
		<span th:text="${location.name}"></span>
	</div>
  
	<div layout:fragment="page_content" id="page_content">
  		<div th:replace="locationSubmenu"></div>
  		<div class="row">
  			<div class="col-lg-12">
  				<div class="pvr-wrapper">
  					<div class="pvr-box">
  						<h5 class="pvr-header">
							Collection Settings
							<div class="pvr-box-controls">
								<i class="material-icons" data-box="fullscreen">fullscreen</i>
							</div>
						</h5>
						<form th:object="${locationCollectionSettingsForm}">
							<div class="row">
								<div class="col-lg-12">
									<div>
										<input th:field="*{collectionEnabled}" type="checkbox"/>
										<label class="pl-2" for="collectionEnabled">Collection Enabled</label>
									</div>
									<hr/>
								</div>
							</div>
						</form>
  					</div>
  				</div>
  			</div>
  		</div>
	</div>
<th:block layout:fragment="scripts">
<script th:src="@{/assets/plugins/icheck/icheck.min.js}"></script>
<script th:src="@{/assets/js/locationCollectionSettings.js}"></script>
</th:block>
</html>