<div class="row mb-3">
	<div class="col-lg-12">
		<div class="sub-menu">
  			<div class="p-2">
		  		<div class="nav-scroller">
			        <nav class="nav d-flex">
			          <a th:class="${locationActive == 'overview' ? 'p-10 active' : 'p-10'}" th:href="@{'/locations/' + ${location.id}}">Overview</a>
			          <a th:class="${locationActive == 'settings' ? 'p-10 active' : 'p-10'}" th:href="@{'/locations/' + ${location.id} + '/settings'}">Settings</a>
			          <a th:class="${locationActive == 'collection' ? 'p-10 active' : 'p-10'}" th:href="@{'/locations/' + ${location.id} + '/collection'}">Collection</a>
			          <a th:class="${locationActive == 'delivery' ? 'p-10 active' : 'p-10'}" th:href="@{'/locations/' + ${location.id} + '/delivery'}">Delivery</a>
			          <a th:class="${locationActive == 'hours' ? 'p-10 active' : 'p-10'}" th:href="@{'/locations/' + ${location.id} + '/hours'}">Hours</a>
			        </nav>
		      	</div>
	      	</div>
      	</div>
	</div>
</div>