<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
  xmlns:th="http://www.thymeleaf.org" 
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
  layout:decorator="template">
  
  	<head>
	    <title>Location</title>
  	</head>
  
 	<div layout:fragment="page_header_title" id="page_header_title">
		<span th:text="${location.name}"></span>
	</div>
  
	<div layout:fragment="page_content" id="page_content">
  		<div th:replace="locationSubmenu"></div>
  		<div class="row">
  			<div class="col-lg-12">
  				<div class="pvr-wrapper">
  					<div class="pvr-box">
  						<h5 class="pvr-header">
							Overview
							<div class="pvr-box-controls">
								<i class="material-icons" data-box="fullscreen">fullscreen</i>
							</div>
						</h5>
  					</div>
  				</div>
  			</div>
  		</div>
	</div>
  	
<th:block layout:fragment="scripts">

</th:block>
</html>