<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
  xmlns:th="http://www.thymeleaf.org" 
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
  layout:decorator="template">
  
  	<head>
	    <title>Locations</title>
  	</head>
  
 	<div layout:fragment="page_header_title" id="page_header_title">
  		<i class="material-icons">home</i>
		Locations
	</div>
  
	<div layout:fragment="page_content" id="page_content">
  		<div class="row">
  			<div class="col-lg-12 text-right">
  				<button class="btn btn-outline-dark" data-toggle="modal" data-target="#newLocation">New Location</button>
  				<div class="modal fade" id="newLocation" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
	                <div class="modal-dialog modal-lg" role="document">
	                    <div class="modal-content">
	                        <div class="modal-header">
	                            <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
	                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	                                <span aria-hidden="true">×</span>
	                            </button>
	                        </div>
	                        <div class="modal-body">
	                            Cras mattis consectetur purus sit amet fermentum. Cras justo odio,
	                            dapibus ac facilisis in, egestas eget quam. Morbi leo risus, porta ac
	                            consectetur ac, vestibulum at eros. Praesent commodo cursus magna
	                        </div>
	                        <div class="modal-footer">
	                            <button type="button" class="btn btn-secondary" data-dismiss="modal">
	                                Close
	                            </button>
	                            <button type="button" class="btn btn-primary">Save changes</button>
	                        </div>
	                    </div>
	                </div>
	            </div>
  			</div>
  		</div>
  		<div class="table-responsive">
  			<table class="table table-separate table-extended">
	            <thead>
		            <tr>
		                <th>Name</th>
		                <th>Status</th>
		                <th></th>
		            </tr>
	            </thead>
	            <tbody>
		            <tr th:each="location : ${locations}">
		                <td>
		                    <div class="location-title">
		                        <div>
		                        	<a th:href="@{'/locations/' + ${location.id}}" th:text="${location.name}"></a>
		                        </div>
		                        <span th:text="${#strings.abbreviate(location.address, 60)}" class="f-s-11"></span>
		                    </div>
		                </td>
		                <td class="align-middle">
		                    <span th:if="${location.enabled}" class="badge-full badge-success badge">active</span>
		                    <span th:if="${not location.enabled}" class="badge-full badge-dark badge">inactive</span>
		                </td>
		                <td class="align-middle text-center">
		                    <a th:href="@{'/locations/' + ${location.id}}" class="btn btn-light btn-sm mb-0">View</a>
		                </td>
		            </tr>
	            </tbody>
	        </table>
  		</div>
	</div>
  	
<th:block layout:fragment="scripts">

</th:block>
</html>