<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
  xmlns:th="http://www.thymeleaf.org" 
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
  layout:decorator="template">
  
  	<head>
	    <title>Location - Settings</title>
	    
	    <th:block layout:fragment="styles">
	    <link th:href="@{/assets/plugins/icheck/skins/flat/red.css}" rel="stylesheet"/>
	    </th:block>
  	</head>
  
 	<div layout:fragment="page_header_title" id="page_header_title">
		<span th:text="${location.name}"></span>
	</div>
  
	<div layout:fragment="page_content" id="page_content">
  		<div th:replace="locationSubmenu"></div>
  		<div class="row">
  			<div class="col-lg-12">
  				<div class="pvr-wrapper">
  					<div class="pvr-box">
  						<h5 class="pvr-header">
							Settings
							<div class="pvr-box-controls">
								<i class="material-icons" data-box="fullscreen">fullscreen</i>
							</div>
						</h5>
						<form method="post" th:object="${locationSettingsForm}">
							<div class="row">
								<div class="col-lg-12">
									<div>
										<input th:field="*{enabled}" type="checkbox"/>
										<label class="pl-2" for="enabled">Location Enabled</label>
									</div>
									<span class="form-text text-muted small"><i class="fa fa-info-circle"></i> Note: Disabling a location immediately prevents orders from being taken.</span>
									<hr/>
								</div>
							</div>
						
							<div class="row">
								<div class="col-lg-7">
									<fieldset class="form-group">
										<legend>Location Details</legend>
										
										<div class="ml-3">
											<div class="form-group">
		                                        <label for="name">Name</label>
		                                        <input th:field="*{name}" type="text" class="form-control" placeholder="Location Name"/>
		                                    </div>
		                                    
		                                    <div class="form-group">
		                                    	<label for="address">Address</label>
		                                        <textarea th:field="*{address}" class="form-control" placeholder="Location Address"></textarea>
		                                    </div>
		                                    
		                                    <div class="form-group">
		                                    	<label>Latitude / Longitude</label>
		                                    	<div class="row">
		                                    		<div class="col-sm-6">
		                                    			<input th:field="*{latitude}" type="text" class="form-control" placeholder="Lat"/>
		                                    		</div>
		                                    		<div class="col-sm-6">
														<input th:field="*{longitude}" type="text" class="form-control" placeholder="Long"/>                                    		
		                                    		</div>
		                                    	</div>
		                                    	<a class="form-text small" href="#" data-toggle="modal" data-target="#locationModal">Select Location</a>
		                                    </div>
	                                    </div>
                                    </fieldset>
                                    
                                    <button type="submit" class="btn btn-dark">Save</button>
								</div>
							</div>
						</form>
						
						<div id="locationModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="locationModal" aria-hidden="true">
							<div class="modal-dialog modal-lg">
								<div class="modal-content">
									<div class="modal-body">
										<div class="form-inline" id="location-controls">
											<input id="locationSearch" type="text" class="form-control" placeholder="Location Search"/>
											<button id="locationSave" class="btn btn-light mb-0 ml-2">Save</button>
										</div>
										<div id="locationMap" style="height: 500px; width: 100%;"></div>
									</div>
								</div>
							</div>
						</div>
  					</div>
  				</div>
  			</div>
  		</div>
	</div>
<th:block layout:fragment="scripts">
<script th:src="@{/assets/plugins/icheck/icheck.min.js}"></script>
<script th:src="@{/assets/js/locationSettings.js}"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBmqz3vG7N0XNCPylfVNyGsdq6HBzqlwyQ&amp;libraries=places&amp;callback=initMap"></script>
</th:block>
</html>