<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
  xmlns:th="http://www.thymeleaf.org" 
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
  layout:decorator="template">
  
  	<head>
	    <title>Menu</title>
	    
	    <th:block layout:fragment="styles">
	    <link th:href="@{/assets/plugins/icheck/skins/flat/red.css}" rel="stylesheet"/>
	    <link th:href="@{/assets/plugins/nestable/jquery.nestable.css}" rel="stylesheet"/>
	    </th:block>
  	</head>
  
 	<div layout:fragment="page_header_title" id="page_header_title">
  		<i class="material-icons">home</i>
		Menu
	</div>
  
	<div layout:fragment="page_content" id="page_content">
        <div class="row">
	        
	        <div class="col-lg-8 pvr-wrapper">
	        	<div class="pvr-wrapper">
		            <div id="menuContent" class="pvr-box">
		            	<div th:replace="menuContent"></div>
					</div>
				</div>
        	</div>
        	
        	<div class="col-lg-4 pvr-wrapper">
	        	<div class="pvr-wrapper">
		            <div class="pvr-box">
		            	<h5 class="pvr-header mb-3">
	                    	Menu Details
	                	</h5>
		                <div class="row">
		                	<div class="col-lg-12">
	                			<form>
	                				<div class="form-group">
	                					<label for="menuName">Menu Name</label>
	                					<input class="form-control" placeholder="Menu Name" th:value="${menu.name}"/>
	                				</div>
	                				<button type="button" class="btn btn-sm btn-outline-danger mr-2">Delete</button>
	                				<button type="submit" class="btn btn-sm btn-success">Save</button>
	                			</form>
	                		</div>
		                </div>
					</div>
				</div>
	        	
	        	<div class="pvr-wrapper">
		            <div class="pvr-box">
		            	<h5 class="pvr-header mb-3">
	                    	Menu Categories
	                    	<a href="#" title="New Category" data-toggle="modal" data-target="#newCategory"><i class="material-icons pull-right">add</i></a>
	                	</h5>
		                <div class="dd" id="menu-categories">
                            <ol class="dd-list">
                                <li th:each="category : ${categories}" class="dd-item dd3-item" th:attr="data-id=${category.id}">
                                    <div class="dd-handle dd3-handle">Drag</div>
                                    <div class="dd3-content">
                                    	<span th:text="${category.name}"></span>
                                    	<a href="#" class="delete-category" th:attr="data-id=${category.id}" title="Delete Category"><i style="font-size: 19px;" class="material-icons pull-right">remove</i></a>
                                    </div>
                                </li>
                            </ol>
                        </div>
						<div class="clearfix"></div>
					</div>
				</div>
				
				<div class="modal" id="newCategory" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
	                <div class="modal-dialog" role="document">
	                    <div class="modal-content">
	                        <div class="modal-header">
	                            <h5 class="modal-title" id="exampleModalLabel">New Category</h5>
	                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	                                <span aria-hidden="true">×</span>
	                            </button>
	                        </div>
	                        <div class="modal-body">
								<form method="post">
									<div class="form-group">
                                        <label for="name">Name</label>
                                        <input type="text" class="form-control" id="exampleInputEmail4" placeholder="Name"/>
                                    </div>
	                           </form>
	                        </div>
	                        <div class="modal-footer">
	                            <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal">
	                                Close
	                            </button>
	                            <button type="button" class="btn btn-sm btn-success">Save changes</button>
	                        </div>
	                    </div>
	                </div>
	            </div>
        	</div>
       	</div>
	</div>

<th:block layout:fragment="scripts">

<script th:inline="javascript">
var menuId = [[${menu.id}]];
</script>

<script th:src="@{/assets/plugins/icheck/icheck.min.js}"></script>
<script th:src="@{/assets/plugins/nestable/jquery.nestable.js}"></script>
<script th:src="@{/assets/js/menu.js}"></script>
</th:block>
</html>