<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
  xmlns:th="http://www.thymeleaf.org" 
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
  layout:decorator="template">
  
  	<head>
	    <title>Menus</title>
  	</head>
  
 	<div layout:fragment="page_header_title" id="page_header_title">
  		<i class="material-icons">home</i>
		Menus
	</div>
  
	<div layout:fragment="page_content" id="page_content">
  		<div class="col-lg-12">
	        <div class="pvr-wrapper">
	            <div class="pvr-box pb-2">
	                <h5 class="pvr-header mb-3">
	                    Menus
	                    <div class="pvr-box-controls">
	                        <i class="material-icons" data-box="fullscreen">fullscreen</i>
	                    </div>
	                </h5>
	                <div class="clearfix">
	                	<button class="btn btn-sm btn-dark pull-right" data-toggle="modal" data-target="#newLocation">New Menu</button>
	                </div>
	            </div>
	        </div>
	        
	        <div class="pvr-wrapper">
		        <div class="table-responsive">
	            	<table class="table">
			            <thead>
				            <tr>
				                <th>Name</th>
				                <th>Description</th>
				                <th>Active</th>
				                <th></th>
				            </tr>
			            </thead>
			            <tbody>
				            <tr th:each="menu : ${menus}">
				                <td>
			                       	<a class="font-weight-bold" th:href="@{'/menus/' + ${menu.id}}" th:text="${menu.name}"></a>
				                </td>
				                <td th:text="${menu.description}"></td>
				                <td class="align-middle">
									<span th:if="${menu.enabled}" class="badge-full badge-success badge">active</span>
									<span th:if="${not menu.enabled}" class="badge-full badge-dark badge">inactive</span>
								</td>
				                <td class="align-middle text-center">
				                    <a th:href="@{'/menus/' + ${menu.id}}" class="btn btn-sm btn-primary mb-0">View</a>
				                </td>
				            </tr>
			            </tbody>
			        </table>
	             </div>
             </div>
	                
             <div class="modal" id="newLocation" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
				<div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            Cras mattis consectetur purus sit amet fermentum. Cras justo odio,
                            dapibus ac facilisis in, egestas eget quam. Morbi leo risus, porta ac
                            consectetur ac, vestibulum at eros. Praesent commodo cursus magna
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal">
                                Close
                            </button>
                            <button type="button" class="btn btn-sm btn-success">Save changes</button>
                        </div>
                    </div>
                </div>
            </div>
	    </div>
	</div>

<th:block layout:fragment="scripts">

</th:block>
</html>