<h5 class="pvr-header mb-3">
	Menu
	<div class="pvr-box-controls">
		<i class="material-icons" data-box="fullscreen">fullscreen</i>
	</div>
</h5>
<div class="row pt-2">
	<div class="col-lg-12">
		<div class="menu-category col-sm-12" th:each="category : ${categories}">
			<a href="#" title="New Product" class="pull-right new-product-link" th:attr="data-category=${category.id}"><i class="material-icons">add</i></a>
			<h5 class="menu-category-title" th:text="${category.name}"></h5>
			
			<div class="menu-product" th:each="product : ${category.products}">
				<div class="row">
					<div class="col-lg-9">
						<div class="mb-1">
							<a class="edit-product" title="Edit Product" href="" th:attr="data-product=${product.id}" th:text="${product.name}"></a>
						</div>
						<div class="small" th:text="${product.description}"></div>
					</div>
					<div class="col-lg-3 text-right pr-5">
						&pound;<span th:text="${product.price}"></span>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-9">
						<a href="" class="badge product-badge product-options-link" th:attr="data-product=${product.id}" data-color="blue">Options</a>
						<a href="" class="badge product-badge product-addons-link" th:attr="data-product=${product.id}" data-color="blue">Addons</a>
					</div>
					<div class="col-lg-3 text-right pr-5">
						<a href="" class="badge product-badge" th:attr="data-product=${product.id}" data-color="red">Disabled</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
        
<div class="modal" id="newProductModal" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">New Product</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">×</span>
				</button>
			</div>
			<form th:action="@{'/menus/' + ${menu.id} + '/products/new'}" method="post">
				<div class="modal-body">
					<div class="form-group">
						<div class="row">
							<div class="col-lg-6">
								<label for="name">Name</label>
								<input name="name" type="text" class="form-control" placeholder="Name" required="required"/>
							</div>
							
							<div class="col-lg-6">
								<label for="displayName">Display Name</label>
								<input name="displayName" type="text" class="form-control" placeholder="Display Name"/>
							</div>
						</div>
					</div>
					
					<div class="form-group">
						<div class="row">
							<div class="col-lg-12">
								<label for="description">Description</label>
								<textarea name="description" rows="3" class="form-control" placeholder="Description"></textarea>
							</div>
						</div>
					</div>
					
					<div class="form-group">
						<div class="row">
							<div class="col-lg-6">
								<label for="price">Price</label>
								<div class="input-group">
									<span class="input-group-addon">&pound;</span>
									<input name="price" type="number" min="0.01" step="0.01" class="form-control" placeholder="Price"/>
								</div>
							</div>
							<div class="col-lg-6">
								<label for="active">Active</label><br/>
								<input name="active" type="checkbox"/>
							</div>
						</div>
					</div>
						
					<input type="hidden" id="categoryId" name="categoryId"/>		                                       
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal">
						Close
					</button>
					<button type="submit" class="btn btn-sm btn-success">Save changes</button>
				</div>
			</form>
		</div>
	</div>
</div>

<div class="modal" id="editProductModal" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-body text-center" id="newProductWrapper"></div>
		</div>
	</div>
</div>

<div class="modal" id="productOptionsModal" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-body text-center" id="productOptionsWrapper"></div>
		</div>
	</div>
</div>

<div class="modal" id="productAddonsModal" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-body text-center" id="productAddonsWrapper"></div>
		</div>
	</div>
</div>