<form th:action="@{'/menus/' + ${menuId} + '/products/' + ${product.id} + '/update'}" method="post">
	<div class="modal-header">
		<h5 class="modal-title" id="exampleModalLabel">Edit Product</h5>
		<button type="button" class="close" data-dismiss="modal" aria-label="Close">
			<span aria-hidden="true">×</span>
		</button>
	</div>
	<div class="text-left modal-body">
		<div class="form-group">
			<div class="row">
				<div class="col-lg-6">
					<label for="name">Name</label>
					<input name="name" type="text" class="form-control" placeholder="Name" required="required" th:value="${product.name}"/>
				</div>
				
				<div class="col-lg-6">
					<label for="displayName">Display Name</label>
					<input name="displayName" type="text" class="form-control" placeholder="Display Name" th:value="${product.displayName}"/>
				</div>
			</div>
		</div>
		
		<div class="form-group">
			<div class="row">
				<div class="col-lg-12">
					<label for="description">Description</label>
					<textarea name="description" rows="3" class="form-control" placeholder="Description" th:text="${product.description}"></textarea>
				</div>
			</div>
		</div>
		
		<div class="form-group">
			<div class="row">
				<div class="col-lg-6">
					<label for="price">Price</label>
					<div class="input-group">
						<span class="input-group-addon">&pound;</span>
						<input name="price" type="number" min="0.01" step="0.01" class="form-control" placeholder="Price" th:value="${product.price}"/>
					</div>
				</div>
				<div class="col-lg-6">
					<label for="active">Active</label><br/>
					<input name="active" type="checkbox"/>
				</div>
			</div>
		</div>
			
		<input type="hidden" id="categoryId" name="categoryId"/>		                                       
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal">
			Close
		</button>
		<button type="submit" class="btn btn-sm btn-success">Save changes</button>
	</div>
</form>