<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org"   
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="utf-8"/>
    <link rel="icon" type="image/png" href="http://via.placeholder.com/32x32"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <title>Caterly</title>
    
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport'/>
    <meta name="keywords" content=""/>
    <meta name="description" content=""/>
    
    <!--Fonts-->
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900" rel="stylesheet"/>
    
    <!-- CSS Files -->
    <link th:href="@{/assets/plugins/bootstrap/css/bootstrap.css}" rel="stylesheet"/>
    <link th:href="@{/assets/plugins/bootstrap/css/bootstrap-grid.css}" rel="stylesheet"/>
    <link th:href="@{/assets/plugins/bootstrap/css/bootstrap-reboot.css}" rel="stylesheet"/>
    <link th:href="@{/assets/css/colors.css}" rel="stylesheet" id="themecolor"/>
    <link th:href="@{/assets/css/style.css}" rel="stylesheet"/>
    <link th:href="@{/inner-circles.css}" rel="stylesheet"/>
    <link th:href="@{/style.css}" rel="stylesheet"/>
    
    <th:block layout:fragment="styles"></th:block>
</head>
<script th:inline="javascript">
	var context = /*[[@{/}]]*/null;
</script>
<!--Body Begins-->
<body>
<!--Begin wrapper-->
<div class="wrapper">
    <!--Begin Sidebar-->
    <div class="sidebar" data-color="purple">
        <div class="sidebar-wrapper">
            <!--Begins Logo start-->
            <div class="logo">
                <a th:href="@{/}" class="simple-text logo-normal">
                    Caterly
                </a>
            </div>
            <!--End Logo start-->

            <ul class="nav">
                <li th:class="${activeTab == 'dash' ? 'nav-item active' : 'nav-item'}">
                    <a class="nav-link" th:href="@{/}">
                        <i class="material-icons">av_timer</i>
                        Dashboard
                    </a>
                </li>
				<li th:class="${activeTab == 'locations' ? 'nav-item active' : 'nav-item'}">
					<a class="nav-link" th:href="@{/locations}">
						<i class="material-icons">home</i>
                        Locations
                    </a>
                </li>
                <li th:class="${activeTab == 'menus' ? 'nav-item active' : 'nav-item'}">
					<a class="nav-link" th:href="@{/menus}">
						<i class="material-icons">restaurant_menu</i>
                        Menus
                    </a>
                </li>
                <li th:class="${activeTab == 'users' ? 'nav-item active' : 'nav-item'}">
					<a class="nav-link" th:href="@{/users}">
						<i class="material-icons">face</i>
                        Users
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <!--End Sidebar-->

    <!--Begin Main Panel-->
    <div class="main-panel">
        <!-- Navbar -->
        <nav class="navbar navbar-expand-lg">
            <div class="container-fluid">
                <div class="navbar-wrapper">
                    <div class="navbar-minimize">
                        <button id="minimizeSidebar" data-color="purple"
                                class="btn btn-fill btn-round btn-icon d-none d-lg-block">
                            <i class="fa fa-ellipsis-v visible-on-sidebar-regular"></i>
                            <i class="fa fa-navicon visible-on-sidebar-mini"></i>
                        </button>
                    </div>
                    <a class="navbar-brand" id="page_header_title" href="javascript:void(0)">
                    	<div layout:fragment="page_header_title"></div>
                    </a>
                </div>
                <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-bar burger-lines"></span>
                    <span class="navbar-toggler-bar burger-lines"></span>
                    <span class="navbar-toggler-bar burger-lines"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end">
                    <ul class="nav navbar-nav">
                        <li>
                            <form class="navbar-form navbar-left navbar-search-form d-none d-lg-block" role="search">
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Search"/>
                                    <span class="input-group-addon"><i class="icons icon-magnifier p-r-10"></i></span>
                                </div>
                            </form>
                        </li>
                    </ul>
                    <ul class="navbar-nav">
                        <li class="dropdown dropdown-slide nav-item d-none d-lg-block">
                            <a href="javascript:void(0)" class="dropdown-toggle nav-link" data-toggle="dropdown">	<span class="notification">4</span>	<i class="material-icons">notifications_active</i></a>
                            <ul class="dropdown-menu dropdown-menu-right notification_left">
                                <li>
                                    <div class="list-item" data-id="item-12">
                                    <span class="w-40 avatar circle" data-color="green">
                                        <i class="material-icons">loyalty</i>
                                    </span>
                                        <div class="list-body"><a href="javascript:void(0)" class="item-title _500">Server Error Reports</a>
                                            <div class="item-except text-sm text-muted h-1x f-s-12">
                                                Lorem Ipsum is simply dummy text.
                                            </div>
                                        </div>
                                        <div><span class="item-date text-xs text-muted f-s-13">11:30</span></div>
                                    </div>
                                </li>
                                <li>
                                    <div class="list-item" data-id="item-12">
                                    <span class="w-40 avatar circle" data-color="red">
                                        <i class="material-icons">supervisor_account</i>
                                    </span>
                                        <div class="list-body"><a href="javascript:void(0)" class="item-title _500">John Smith</a>
                                            <div class="item-except text-sm text-muted h-1x f-s-12">
                                                Looking for some client-work
                                            </div>
                                        </div>
                                        <div><span class="item-date text-xs text-muted f-s-13">01:15</span></div>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown dropdown-slide">
                            <a class="nav-link dropdown-toggle" href="javascript:void(0)" id="navbarDropdownMenuLink"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="material-icons">account_box</i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" href="javascript:void(0)">
                                    <i class="material-icons align-middle">account_circle</i> Profile
                                </a>
                                <a class="dropdown-item" href="javascript:void(0)">
                                    <i class="material-icons align-middle">settings</i> Settings
                                </a>
                                <div class="divider"></div>
                                <form th:action="@{/logout}" method="post">
	                                <button type="submit" th:href="@{/logout}" class="dropdown-item">
	                                    <i class="material-icons align-middle">power_settings_new</i> Log out
	                                </button>
                                </form>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- End Navbar -->

        <!--Begin Content-->
        <div class="content">
            <div layout:fragment="page_content"></div>
        </div>
        <!--End Content-->

        <!--Begin Footer-->
        <footer class="footer">
            <div class="container">
                <nav>
                    <ul class="footer-menu d-none d-sm-block">
                        <li>
                            <a href="javascript:void(0)">
                                Home
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                T&amp;C
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                Privacy policy
                            </a>
                        </li>
                    </ul>
                    <p class="copyright text-center">
                        &copy; <span id="writeCopyrights"></span> <a href="https://www.zentive.com" target="_blank">Zentive Systems</a>
                    </p>
                </nav>
            </div>
        </footer>
        <!--End Footer-->
    </div>
    <!--EndMain Panel-->
</div>
<!--End wrapper-->

<!-- begin scroll to top btn -->
<a href="javascript:void(0)" class="btn btn-icon btn-circle btn-scroll-to-top btn-sm animated invisible text-light"
   data-color="purple" data-click="scroll-top"><i class="fa fa-angle-up"></i></a>
<!-- end scroll to top btn -->
</body>
<!--End Body-->
<!--   Core JS Files   -->
<script th:src="@{/assets/plugins/jquery/jquery-3.2.1.min.js}" type="text/javascript"></script>
<script th:src="@{/assets/plugins/bootstrap/js/bootstrap.bundle.js}" type="text/javascript"></script>
<script th:src="@{/assets/plugins/pace/pace.min.js}"></script>
<script th:src="@{/assets/plugins/perfect-scrollbar/js/perfect-scrollbar.jquery.min.js}"></script>
<script th:src="@{/assets/plugins/waitMe/waitMe.min.js}"></script>
<script th:src="@{/assets/js/pvr_lite_app.js}" id="appjs"></script>

<th:block layout:fragment="scripts"></th:block>
</html>