.sidebar .logo {
	padding-left: 12px;	
}

.badge-full {
	font-size: 100%;
}

.location-title {
	font-size: medium;
}

.sub-menu {
	background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
}

.sub-menu a.active {
	text-decoration: underline;
}

legend {
	font-weight: 500;
	margin-bottom: 15px;
	font-size: 1.2rem;
	border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

#location-controls {
	position: absolute;
	width:100%;
	top: 25px;
	margin-left: 10px;
	z-index: 100;
}

#locationSearch {
	width: 50%;
}

.pac-container {
	z-index: 10000 !important;
}

.shift-row {
	margin-bottom: 20px;
}

.shift-day {
	margin-bottom: 15px;
	padding-right: 20px;
	border-bottom: 2px solid #BBBBBB;
}

.shift-row input {
	width: 100px;
}

.shift-row select {
	width: 120px;
}

#opening-hours .nav .nav-link.active {
	border-bottom: 2px solid #9368E9;
}

#opening-hours .nav {
	border-bottom: 1px solid #eeeeee;
}

.shift-row-remove i {
	margin-top: 3px;
}

.menu-category {
	margin-bottom: 10px;
}

.menu-category-title {
	text-decoration: underline;
}

.menu-category {
	padding: 15px;
	background: rgba(203, 203, 210, 0.15);
}

.menu-product {
	border-top: 1px solid #EEEEEE;
	border-bottom: 1px solid #EEEEEE;
	
	padding-top: 10px;
	padding-bottom: 10px;
}

.edit-product {
	text-decoration: underline;	
}

.product-badge:hover {
	color: #CCCCCC;
}